@import "tailwindcss";

@layer components {
  .input {
    @apply w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400 bg-white;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer components {
  .animate-fade-in {
    animation: fadeIn 0.6s ease-out forwards;
  }
}
